/* * {
  padding: 0;
  margin: 0;
} */

html {
  scroll-behavior: smooth;
  background-color: #343434;
}

.App {
  text-align: center;
}

.nav_all_link a {
  color: #f8f5f2;
  margin-left: 2rem;
  padding: .4rem;
  border: 1px solid #d81e5b;
  background-color: #d81e5b;
  border-radius: 30px;
  font-size: .8rem;
}

.nav_all_link a:hover {
  font-weight: 700;
  color: #d81e5b;
  background-color: #f8f5f2;
}

.nav_all_link a:active {
  color: #d81e5b;
}

.navbar h2 {
  margin: 0;
  padding: 2rem;
  color: #f8f5f2;
  font-size: 4rem;
}

.loading {
  margin: 2rem;
}

.article_title {
  color: #f8f5f2;
}

.user_img__indicator,
p {
  display: flex;
  justify-content: center;
  color: #f8f5f2;
}

.user_img {
  background-color: grey;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 0px;
  margin-right: 10px;
}

.article_card {
  border-bottom: 2px solid #f8f5f2;
}

a {
  text-decoration: none;
}

.article_card,
li {
  list-style: none;
}

.article-list {
  padding: 5rem;
  width: 65%;
  margin: 0 auto;
}

ul {
  padding: 0;
}

.article-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.article_card p {
  color: #f8f5f2;
}

.article_info__date {
  font-size: .8rem;
  margin-right: auto;
}

.article_info__topic {
  font-size: .7rem;
}

.article_info__title {
  height: 40px;
  margin: 20px 0;
  font-weight: 700;
  line-height: 1.3rem;
}

.article_info__author {
  font-size: .7rem;
  /* margin-right: auto; */
  margin-left: 0;
  width: 50%;
}

.article_info__stats {
  display: flex;
  width: 50%;
}

.article_info__comment-count {
  font-size: .7rem;
  width: 50%;
}

.article_info__votes {
  font-size: .7rem;
  width: 50%;
}

.counts {
  font-weight: 700;
  margin-right: 5px;
}

.article_footer {
  display: flex;
  justify-content: flex-start;
}

.article_image img {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 5%;
}

@media only screen and (max-width: 1000px) {
  .article-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
  }

  .article_image img {
    width: 100%;
    height: 10rem;
  }
}

@media only screen and (max-width: 600px) {
  .article-list ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
    margin: 0;
  }

  .article-list {
    padding: 3rem;
  }

  .article_image img {
    width: 100%;
    height: 10rem;
  }
}
